In [1]:
import pandas as pd
import numpy as np

In [2]:
caged = pd.read_csv('caged_dados.csv')

In [3]:
caged.head()

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
0,-1,101,8,27,9.0,6,3,31,0,1850.00,0
1,-1,101,6,22,45.0,3,1,31,0,1320.00,0
2,-1,101,8,37,40.0,1,1,31,0,9164.10,0
3,-1,101,7,37,30.0,1,1,31,0,1989.40,0
4,-1,101,7,32,45.0,6,1,32,0,1885.62,0

In [4]:
caged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9398 entries, 0 to 9397
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   saldo_movimentacao  9398 non-null   int64
 1   categoria           9398 non-null   int64
 2   grau_instrucao      9398 non-null   int64
 3   idade               9398 non-null   int64
 4   horas_contratuais   9384 non-null   float64
 5   raca_cor            9398 non-null   int64
 6   sexo                9398 non-null   int64
 7   tipo_movimentacao   9398 non-null   int64
 8   tipo_deficiencia    9398 non-null   int64
 9   salario_mensal      9398 non-null   float64
 10  indicador_aprendiz  9398 non-null   int64
dtypes: float64(2), int64(9)
memory usage: 807.8 KB

In [5]:
caged['salario_mensal'].mean()

2058.447096190679

In [6]:
caged['salario_mensal'].max()

414836.4

In [7]:
caged['salario_mensal'].min()

0.0

In [8]:
caged['salario_mensal'].head()

0    1850.00
1    1320.00
2    9164.10
3    1989.40
4    1885.62
Name: salario_mensal, dtype: float64

In [9]:
maiores_salarios = caged.sort_values(by='salario_mensal', ascending=False)
maiores_salarios.head(10)

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
966,-1,101,5,52,44.0,3,1,60,0,414836.4,0
3823,-1,101,7,26,44.0,3,1,32,0,321057.0,0
4825,-1,101,7,26,44.0,3,1,40,0,320980.0,0
6422,-1,101,80,38,44.0,3,3,40,0,309249.6,0
8862,1,101,7,26,44.0,3,1,97,0,302500.0,0
7402,1,101,7,45,44.0,3,3,97,0,286440.0,0
1560,-1,101,7,27,44.0,3,3,31,0,286440.0,0
8799,1,101,9,44,44.0,2,3,97,0,286440.0,0
2117,-1,101,7,25,44.0,3,3,31,0,286440.0,0
8216,1,101,7,34,44.0,3,3,97,0,286440.0,0

In [10]:
desligamentos = caged[caged['saldo_movimentacao'] == -1]
desligamentos.head(10)

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
0,-1,101,8,27,9.0,6,3,31,0,1850.00,0
1,-1,101,6,22,45.0,3,1,31,0,1320.00,0
2,-1,101,8,37,40.0,1,1,31,0,9164.10,0
3,-1,101,7,37,30.0,1,1,31,0,1989.40,0
4,-1,101,7,32,45.0,6,1,32,0,1885.62,0
5,-1,101,7,40,44.0,6,1,40,0,2725.00,0
16,-1,101,5,46,44.0,3,1,31,0,1507.00,0
18,-1,101,7,21,44.0,6,1,31,0,1302.00,0
19,-1,101,7,22,44.0,3,3,31,0,1320.00,0
20,-1,101,6,25,44.0,2,1,31,0,2000.00,0

In [11]:
admissoes = caged[caged['saldo_movimentacao'] == 1]
admissoes.head()

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
6,1,105,9,41,16.0,3,1,97,0,3362.63,0
7,1,101,6,18,44.0,6,1,97,0,1320.00,0
8,1,101,9,55,36.0,3,1,97,0,0.00,0
9,1,101,8,28,44.0,3,3,97,0,1302.00,0
10,1,101,7,35,40.0,3,1,97,0,1349.27,0

In [12]:
maiores_sal_desl = desligamentos.sort_values(by='salario_mensal', ascending=False)
maiores_sal_desl.head()

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
966,-1,101,5,52,44.0,3,1,60,0,414836.4,0
3823,-1,101,7,26,44.0,3,1,32,0,321057.0,0
4825,-1,101,7,26,44.0,3,1,40,0,320980.0,0
6422,-1,101,80,38,44.0,3,3,40,0,309249.6,0
2117,-1,101,7,25,44.0,3,3,31,0,286440.0,0

In [13]:
maiores_sal_adm = admissoes.sort_values(by='salario_mensal', ascending=False)
maiores_sal_adm.head()

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
8862,1,101,7,26,44.0,3,1,97,0,302500.0,0
8216,1,101,7,34,44.0,3,3,97,0,286440.0,0
7402,1,101,7,45,44.0,3,3,97,0,286440.0,0
8799,1,101,9,44,44.0,2,3,97,0,286440.0,0
577,1,101,8,41,36.0,1,3,97,0,274428.0,0

In [14]:
dicionario = pd.read_csv('caged_dicionario.csv')

In [15]:
original = pd.read_csv('caged_dados.csv')

for coluna in dicionario['coluna'].unique():
    filtro_coluna = dicionario['coluna'] == coluna
    original[coluna] = original[coluna].replace(dicionario[filtro_coluna].set_index('chave')['valor'])

original.head(10)

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
0,Desligamento,"Empregado - Geral, Inclusive O Empregado Públi...",Superior Incompleto,27,9.0,Não Informada,Mulher,Desligamento Por Demissão Sem Justa Causa,Não Deficiente,1850.00,0
1,Desligamento,"Empregado - Geral, Inclusive O Empregado Públi...",Médio Incompleto,22,45.0,Parda,Homem,Desligamento Por Demissão Sem Justa Causa,Não Deficiente,1320.00,0
2,Desligamento,"Empregado - Geral, Inclusive O Empregado Públi...",Superior Incompleto,37,40.0,Branca,Homem,Desligamento Por Demissão Sem Justa Causa,Não Deficiente,9164.10,0
3,Desligamento,"Empregado - Geral, Inclusive O Empregado Públi...",Médio Completo,37,30.0,Branca,Homem,Desligamento Por Demissão Sem Justa Causa,Não Deficiente,1989.40,0
4,Desligamento,"Empregado - Geral, Inclusive O Empregado Públi...",Médio Completo,32,45.0,Não Informada,Homem,Desligamento Por Demissão Com Justa Causa,Não Deficiente,1885.62,0
5,Desligamento,"Empregado - Geral, Inclusive O Empregado Públi...",Médio Completo,40,44.0,Não Informada,Homem,Desligamento A Pedido,Não Deficiente,2725.00,0
6,Admissão,Empregado - Contrato A Termo Firmado Nos Termo...,Superior Completo,41,16.0,Parda,Homem,97,Não Deficiente,3362.63,0
7,Admissão,"Empregado - Geral, Inclusive O Empregado Públi...",Médio Incompleto,18,44.0,Não Informada,Homem,97,Não Deficiente,1320.00,0
8,Admissão,"Empregado - Geral, Inclusive O Empregado Públi...",Superior Completo,55,36.0,Parda,Homem,97,Não Deficiente,0.00,0
9,Admissão,"Empregado - Geral, Inclusive O Empregado Públi...",Superior Incompleto,28,44.0,Parda,Mulher,97,Não Deficiente,1302.00,0