In [1]:
import pandas as pd
import numpy as np

In [2]:
caged = pd.read_csv('caged_dados.csv')

In [3]:
caged.head()

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
0,-1,101,8,27,9.0,6,3,31,0,1850.00,0
1,-1,101,6,22,45.0,3,1,31,0,1320.00,0
2,-1,101,8,37,40.0,1,1,31,0,9164.10,0
3,-1,101,7,37,30.0,1,1,31,0,1989.40,0
4,-1,101,7,32,45.0,6,1,32,0,1885.62,0

In [4]:
caged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9398 entries, 0 to 9397
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   saldo_movimentacao  9398 non-null   int64
 1   categoria           9398 non-null   int64
 2   grau_instrucao      9398 non-null   int64
 3   idade               9398 non-null   int64
 4   horas_contratuais   9384 non-null   float64
 5   raca_cor            9398 non-null   int64
 6   sexo                9398 non-null   int64
 7   tipo_movimentacao   9398 non-null   int64
 8   tipo_deficiencia    9398 non-null   int64
 9   salario_mensal      9398 non-null   float64
 10  indicador_aprendiz  9398 non-null   int64
dtypes: float64(2), int64(9)
memory usage: 807.8 KB

In [5]:
caged['salario_mensal'].mean()

2058.447096190679

In [6]:
caged['salario_mensal'].max()

414836.4

In [7]:
caged['salario_mensal'].min()

0.0

In [28]:
caged[caged['salario_mensal'] != 0]['salario_mensal'].sort_values()

8456         0.01
8656         5.92
5609         5.92
2065         5.92
4839         5.92
          ...
8862    302500.00
6422    309249.60
4825    320980.00
3823    321057.00
966     414836.40
Name: salario_mensal, Length: 9282, dtype: float64

In [8]:
maiores_salarios = caged.sort_values(by='salario_mensal', ascending=False)
maiores_salarios.head(10)

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
966,-1,101,5,52,44.0,3,1,60,0,414836.4,0
3823,-1,101,7,26,44.0,3,1,32,0,321057.0,0
4825,-1,101,7,26,44.0,3,1,40,0,320980.0,0
6422,-1,101,80,38,44.0,3,3,40,0,309249.6,0
8862,1,101,7,26,44.0,3,1,97,0,302500.0,0
7402,1,101,7,45,44.0,3,3,97,0,286440.0,0
1560,-1,101,7,27,44.0,3,3,31,0,286440.0,0
8799,1,101,9,44,44.0,2,3,97,0,286440.0,0
2117,-1,101,7,25,44.0,3,3,31,0,286440.0,0
8216,1,101,7,34,44.0,3,3,97,0,286440.0,0

In [9]:
desligamentos = caged[caged['saldo_movimentacao'] == -1]
desligamentos.head(10)

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
0,-1,101,8,27,9.0,6,3,31,0,1850.00,0
1,-1,101,6,22,45.0,3,1,31,0,1320.00,0
2,-1,101,8,37,40.0,1,1,31,0,9164.10,0
3,-1,101,7,37,30.0,1,1,31,0,1989.40,0
4,-1,101,7,32,45.0,6,1,32,0,1885.62,0
5,-1,101,7,40,44.0,6,1,40,0,2725.00,0
16,-1,101,5,46,44.0,3,1,31,0,1507.00,0
18,-1,101,7,21,44.0,6,1,31,0,1302.00,0
19,-1,101,7,22,44.0,3,3,31,0,1320.00,0
20,-1,101,6,25,44.0,2,1,31,0,2000.00,0

In [10]:
admissoes = caged[caged['saldo_movimentacao'] == 1]
# admissoes.head()
admissoes['tipo_movimentacao'].unique()

array([97, 35])

In [11]:
maiores_sal_desl = desligamentos.sort_values(by='salario_mensal', ascending=False)
maiores_sal_desl.head()

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
966,-1,101,5,52,44.0,3,1,60,0,414836.4,0
3823,-1,101,7,26,44.0,3,1,32,0,321057.0,0
4825,-1,101,7,26,44.0,3,1,40,0,320980.0,0
6422,-1,101,80,38,44.0,3,3,40,0,309249.6,0
2117,-1,101,7,25,44.0,3,3,31,0,286440.0,0

In [12]:
maiores_sal_adm = admissoes.sort_values(by='salario_mensal', ascending=False)
maiores_sal_adm.head()

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
8862,1,101,7,26,44.0,3,1,97,0,302500.0,0
8216,1,101,7,34,44.0,3,3,97,0,286440.0,0
7402,1,101,7,45,44.0,3,3,97,0,286440.0,0
8799,1,101,9,44,44.0,2,3,97,0,286440.0,0
577,1,101,8,41,36.0,1,3,97,0,274428.0,0

In [13]:
dicionario = pd.read_csv('caged_dicionario.csv')

In [14]:
caged_descrito = pd.read_csv('caged_dados.csv')

for coluna in dicionario['coluna'].unique():
    filtro_coluna = dicionario['coluna'] == coluna
    caged_descrito[coluna] = caged_descrito[coluna].replace(dicionario[filtro_coluna].set_index('chave')['valor'])

caged_descrito.head()

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
0,Desligamento,"Empregado - Geral, Inclusive O Empregado Públi...",Superior Incompleto,27,9.0,Não Informada,Mulher,Desligamento Por Demissão Sem Justa Causa,Não Deficiente,1850.00,0
1,Desligamento,"Empregado - Geral, Inclusive O Empregado Públi...",Médio Incompleto,22,45.0,Parda,Homem,Desligamento Por Demissão Sem Justa Causa,Não Deficiente,1320.00,0
2,Desligamento,"Empregado - Geral, Inclusive O Empregado Públi...",Superior Incompleto,37,40.0,Branca,Homem,Desligamento Por Demissão Sem Justa Causa,Não Deficiente,9164.10,0
3,Desligamento,"Empregado - Geral, Inclusive O Empregado Públi...",Médio Completo,37,30.0,Branca,Homem,Desligamento Por Demissão Sem Justa Causa,Não Deficiente,1989.40,0
4,Desligamento,"Empregado - Geral, Inclusive O Empregado Públi...",Médio Completo,32,45.0,Não Informada,Homem,Desligamento Por Demissão Com Justa Causa,Não Deficiente,1885.62,0

In [15]:
caged_descrito['raca_cor'].value_counts()

raca_cor
Parda               4361
Não Informada       3310
Branca              1295
Preta                366
Amarela               37
Indígena              15
Não Identificado      14
Name: count, dtype: int64

In [16]:
caged_descrito['saldo_movimentacao'].value_counts()

saldo_movimentacao
Admissão        5134
Desligamento    4264
Name: count, dtype: int64

In [17]:
for col in caged_descrito:
    counts = caged_descrito[col].value_counts()
    print(counts)

saldo_movimentacao
Admissão        5134
Desligamento    4264
Name: count, dtype: int64
categoria
Empregado - Geral, Inclusive O Empregado Público Da Administração Direta Ou Indireta Contratado Pela Clt    8970
Empregado - Aprendiz                                                                                         222
Empregado - Contrato De Trabalho Intermitente                                                                105
Empregado - Contrato A Termo Firmado Nos Termos Da Lei 9.601/1998                                             83
Não Identificado                                                                                              14
Trabalhador Temporário - Contrato Nos Termos Da Lei 6.019/1974                                                 4
Name: count, dtype: int64
grau_instrucao
Médio Completo             6380
Superior Completo           861
Médio Incompleto            589
Fundamental Completo        443
Superior Incompleto         335
6ª A 9ª Fundamental         319
Até 5ª Incompleto           239
5ª Completo Fundamental     100
Pós-Graduação Completa       87
Mestrado                     25
Analfabeto                   13
Doutorado                     7
Name: count, dtype: int64
idade
24    403
27    399
26    398
23    395
25    378
29    351
28    342
21    325
31    316
22    315
30    311
33    300
34    292
32    291
36    287
19    283
35    280
20    280
37    265
38    255
39    250
40    244
41    218
42    203
18    202
44    190
43    182
45    175
46    139
47    138
48    121
49    111
50     99
51     81
53     81
52     71
54     63
56     47
55     45
58     45
57     44
17     33
59     29
16     19
62     18
60     16
61     14
64     13
63      9
65      7
15      7
14      4
69      4
68      3
73      3
78      1
66      1
70      1
71      1
Name: count, dtype: int64
horas_contratuais
44.00    6675
40.00     567
36.00     388
45.00     360
48.00     321
         ...
52.82       1
38.75       1
34.95       1
6.00        1
45.10       1
Name: count, Length: 134, dtype: int64
raca_cor
Parda               4361
Não Informada       3310
Branca              1295
Preta                366
Amarela               37
Indígena              15
Não Identificado      14
Name: count, dtype: int64
sexo
Homem     5816
Mulher    3582
Name: count, dtype: int64
tipo_movimentacao
97                                                      5130
Desligamento Por Demissão Sem Justa Causa               2500
Desligamento A Pedido                                    986
Término Contrato Trabalho Prazo Determinado              539
Desligamento Por Acordo Entre Empregado E Empregador     108
Desligamento Por Demissão Com Justa Causa                100
Desligamento Por Morte                                    23
Desligamento De Tipo Ignorado                              5
Admissão Por Reintegração                                  4
Culpa Recíproca                                            3
Name: count, dtype: int64
tipo_deficiencia
Não Deficiente          9320
Física                    45
Visual                    19
Auditiva                  11
Intelectual (Mental)       2
Múltipla                   1
Name: count, dtype: int64
salario_mensal
1302.00    2153
1375.00     964
1320.00     580
1885.62     499
1303.11     185
           ...
1725.00       1
1715.00       1
704.97        1
1626.00       1
3250.00       1
Name: count, Length: 1533, dtype: int64
indicador_aprendiz
0    9176
1     222
Name: count, dtype: int64

In [18]:
caged['tipo_movimentacao'].value_counts(dropna=False)

tipo_movimentacao
97    5130
31    2500
40     986
43     539
90     108
32     100
60      23
98       5
35       4
33       3
Name: count, dtype: int64

In [19]:
caged_descrito['tipo_movimentacao'].value_counts(dropna=False)

tipo_movimentacao
97                                                      5130
Desligamento Por Demissão Sem Justa Causa               2500
Desligamento A Pedido                                    986
Término Contrato Trabalho Prazo Determinado              539
Desligamento Por Acordo Entre Empregado E Empregador     108
Desligamento Por Demissão Com Justa Causa                100
Desligamento Por Morte                                    23
Desligamento De Tipo Ignorado                              5
Admissão Por Reintegração                                  4
Culpa Recíproca                                            3
Name: count, dtype: int64

In [20]:
# caged_descrito[coluna] = caged_descrito[coluna].replace(dicionario[filtro_coluna].set_index('chave')['valor'])
caged_descrito['tipo_movimentacao'] = caged_descrito['tipo_movimentacao'].replace(97, 'Admissão não detalhada')
caged_descrito['tipo_movimentacao'].value_counts(dropna=False)

tipo_movimentacao
Admissão não detalhada                                  5130
Desligamento Por Demissão Sem Justa Causa               2500
Desligamento A Pedido                                    986
Término Contrato Trabalho Prazo Determinado              539
Desligamento Por Acordo Entre Empregado E Empregador     108
Desligamento Por Demissão Com Justa Causa                100
Desligamento Por Morte                                    23
Desligamento De Tipo Ignorado                              5
Admissão Por Reintegração                                  4
Culpa Recíproca                                            3
Name: count, dtype: int64

In [21]:
caged_descrito['salario_mensal'].value_counts(dropna=False)

salario_mensal
1302.00    2153
1375.00     964
1320.00     580
1885.62     499
1303.11     185
           ...
1725.00       1
1715.00       1
704.97        1
1626.00       1
3250.00       1
Name: count, Length: 1533, dtype: int64