In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
caged = pd.read_csv('caged_dados.csv')

# An√°lises Gerais:

In [3]:
caged.head()

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
0,-1,101,8,27,9.0,6,3,31,0,1850.00,0
1,-1,101,6,22,45.0,3,1,31,0,1320.00,0
2,-1,101,8,37,40.0,1,1,31,0,9164.10,0
3,-1,101,7,37,30.0,1,1,31,0,1989.40,0
4,-1,101,7,32,45.0,6,1,32,0,1885.62,0

In [4]:
caged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9398 entries, 0 to 9397
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   saldo_movimentacao  9398 non-null   int64
 1   categoria           9398 non-null   int64
 2   grau_instrucao      9398 non-null   int64
 3   idade               9398 non-null   int64
 4   horas_contratuais   9384 non-null   float64
 5   raca_cor            9398 non-null   int64
 6   sexo                9398 non-null   int64
 7   tipo_movimentacao   9398 non-null   int64
 8   tipo_deficiencia    9398 non-null   int64
 9   salario_mensal      9398 non-null   float64
 10  indicador_aprendiz  9398 non-null   int64
dtypes: float64(2), int64(9)
memory usage: 807.8 KB

In [5]:
caged['salario_mensal'].mean()

2058.447096190679

In [6]:
caged['salario_mensal'].max()

414836.4

In [7]:
caged['salario_mensal'].min()

0.0

In [34]:
caged[caged['salario_mensal'] != 0]['salario_mensal'].sort_values()
#.head()

8456         0.01
8656         5.92
5609         5.92
2065         5.92
4839         5.92
          ...
8862    302500.00
6422    309249.60
4825    320980.00
3823    321057.00
966     414836.40
Name: salario_mensal, Length: 9282, dtype: float64

In [9]:
maiores_salarios = caged.sort_values(by='salario_mensal', ascending=False)
maiores_salarios.head(3)

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
966,-1,101,5,52,44.0,3,1,60,0,414836.4,0
3823,-1,101,7,26,44.0,3,1,32,0,321057.0,0
4825,-1,101,7,26,44.0,3,1,40,0,320980.0,0

In [10]:
desligamentos = caged[caged['saldo_movimentacao'] == -1]
desligamentos.head(2)

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
0,-1,101,8,27,9.0,6,3,31,0,1850.0,0
1,-1,101,6,22,45.0,3,1,31,0,1320.0,0

In [11]:
admissoes = caged[caged['saldo_movimentacao'] == 1]
# admissoes.head()
admissoes['tipo_movimentacao'].unique()

array([97, 35])

In [12]:
maiores_sal_desl = desligamentos.sort_values(by='salario_mensal', ascending=False)
maiores_sal_desl.head(2)

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
966,-1,101,5,52,44.0,3,1,60,0,414836.4,0
3823,-1,101,7,26,44.0,3,1,32,0,321057.0,0

In [13]:
maiores_sal_adm = admissoes.sort_values(by='salario_mensal', ascending=False)
maiores_sal_adm.head(2)

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
8862,1,101,7,26,44.0,3,1,97,0,302500.0,0
8216,1,101,7,34,44.0,3,3,97,0,286440.0,0

In [14]:
dicionario = pd.read_csv('caged_dicionario.csv')

#### Mesclando as tabelas para melhorar a visualiza√ß√£o:

In [15]:
caged_descrito = pd.read_csv('caged_dados.csv')

for coluna in dicionario['coluna'].unique():
    filtro_coluna = dicionario['coluna'] == coluna
    caged_descrito[coluna] = caged_descrito[coluna].replace(dicionario[filtro_coluna].set_index('chave')['valor'])

caged_descrito.head(2)

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
0,Desligamento,"Empregado - Geral, Inclusive O Empregado P√∫bli...",Superior Incompleto,27,9.0,N√£o Informada,Mulher,Desligamento Por Demiss√£o Sem Justa Causa,N√£o Deficiente,1850.0,0
1,Desligamento,"Empregado - Geral, Inclusive O Empregado P√∫bli...",M√©dio Incompleto,22,45.0,Parda,Homem,Desligamento Por Demiss√£o Sem Justa Causa,N√£o Deficiente,1320.0,0

In [16]:
caged_descrito['raca_cor'].value_counts()

raca_cor
Parda               4361
N√£o Informada       3310
Branca              1295
Preta                366
Amarela               37
Ind√≠gena              15
N√£o Identificado      14
Name: count, dtype: int64

In [17]:
caged_descrito['saldo_movimentacao'].value_counts()

saldo_movimentacao
Admiss√£o        5134
Desligamento    4264
Name: count, dtype: int64

In [18]:
for col in caged_descrito:
    counts = caged_descrito[col].value_counts()
    print(counts)

saldo_movimentacao
Admiss√£o        5134
Desligamento    4264
Name: count, dtype: int64
categoria
Empregado - Geral, Inclusive O Empregado P√∫blico Da Administra√ß√£o Direta Ou Indireta Contratado Pela Clt    8970
Empregado - Aprendiz                                                                                         222
Empregado - Contrato De Trabalho Intermitente                                                                105
Empregado - Contrato A Termo Firmado Nos Termos Da Lei 9.601/1998                                             83
N√£o Identificado                                                                                              14
Trabalhador Tempor√°rio - Contrato Nos Termos Da Lei 6.019/1974                                                 4
Name: count, dtype: int64
grau_instrucao
M√©dio Completo             6380
Superior Completo           861
M√©dio Incompleto            589
Fundamental Completo        443
Superior Incompleto         335
6¬™ A 9¬™ Fundamental         319
At√© 5¬™ Incompleto           239
5¬™ Completo Fundamental     100
P√≥s-Gradua√ß√£o Completa       87
Mestrado                     25
Analfabeto                   13
Doutorado                     7
Name: count, dtype: int64
idade
24    403
27    399
26    398
23    395
25    378
29    351
28    342
21    325
31    316
22    315
30    311
33    300
34    292
32    291
36    287
19    283
35    280
20    280
37    265
38    255
39    250
40    244
41    218
42    203
18    202
44    190
43    182
45    175
46    139
47    138
48    121
49    111
50     99
51     81
53     81
52     71
54     63
56     47
55     45
58     45
57     44
17     33
59     29
16     19
62     18
60     16
61     14
64     13
63      9
65      7
15      7
14      4
69      4
68      3
73      3
78      1
66      1
70      1
71      1
Name: count, dtype: int64
horas_contratuais
44.00    6675
40.00     567
36.00     388
45.00     360
48.00     321
         ...
52.82       1
38.75       1
34.95       1
6.00        1
45.10       1
Name: count, Length: 134, dtype: int64
raca_cor
Parda               4361
N√£o Informada       3310
Branca              1295
Preta                366
Amarela               37
Ind√≠gena              15
N√£o Identificado      14
Name: count, dtype: int64
sexo
Homem     5816
Mulher    3582
Name: count, dtype: int64
tipo_movimentacao
97                                                      5130
Desligamento Por Demiss√£o Sem Justa Causa               2500
Desligamento A Pedido                                    986
T√©rmino Contrato Trabalho Prazo Determinado              539
Desligamento Por Acordo Entre Empregado E Empregador     108
Desligamento Por Demiss√£o Com Justa Causa                100
Desligamento Por Morte                                    23
Desligamento De Tipo Ignorado                              5
Admiss√£o Por Reintegra√ß√£o                                  4
Culpa Rec√≠proca                                            3
Name: count, dtype: int64
tipo_deficiencia
N√£o Deficiente          9320
F√≠sica                    45
Visual                    19
Auditiva                  11
Intelectual (Mental)       2
M√∫ltipla                   1
Name: count, dtype: int64
salario_mensal
1302.00    2153
1375.00     964
1320.00     580
1885.62     499
1303.11     185
           ...
1725.00       1
1715.00       1
704.97        1
1626.00       1
3250.00       1
Name: count, Length: 1533, dtype: int64
indicador_aprendiz
0    9176
1     222
Name: count, dtype: int64

In [19]:
caged['tipo_movimentacao'].value_counts()

tipo_movimentacao
97    5130
31    2500
40     986
43     539
90     108
32     100
60      23
98       5
35       4
33       3
Name: count, dtype: int64

In [20]:
caged_descrito['tipo_movimentacao'].value_counts(dropna=False)

tipo_movimentacao
97                                                      5130
Desligamento Por Demiss√£o Sem Justa Causa               2500
Desligamento A Pedido                                    986
T√©rmino Contrato Trabalho Prazo Determinado              539
Desligamento Por Acordo Entre Empregado E Empregador     108
Desligamento Por Demiss√£o Com Justa Causa                100
Desligamento Por Morte                                    23
Desligamento De Tipo Ignorado                              5
Admiss√£o Por Reintegra√ß√£o                                  4
Culpa Rec√≠proca                                            3
Name: count, dtype: int64

In [21]:
# caged_descrito[coluna] = caged_descrito[coluna].replace(dicionario[filtro_coluna].set_index('chave')['valor'])
caged_descrito['tipo_movimentacao'] = caged_descrito['tipo_movimentacao'].replace(97, 'Admiss√£o n√£o detalhada')
caged_descrito['tipo_movimentacao'].value_counts(dropna=False)

tipo_movimentacao
Admiss√£o n√£o detalhada                                  5130
Desligamento Por Demiss√£o Sem Justa Causa               2500
Desligamento A Pedido                                    986
T√©rmino Contrato Trabalho Prazo Determinado              539
Desligamento Por Acordo Entre Empregado E Empregador     108
Desligamento Por Demiss√£o Com Justa Causa                100
Desligamento Por Morte                                    23
Desligamento De Tipo Ignorado                              5
Admiss√£o Por Reintegra√ß√£o                                  4
Culpa Rec√≠proca                                            3
Name: count, dtype: int64

In [22]:
caged_descrito['salario_mensal'].value_counts(dropna=False)

salario_mensal
1302.00    2153
1375.00     964
1320.00     580
1885.62     499
1303.11     185
           ...
1725.00       1
1715.00       1
704.97        1
1626.00       1
3250.00       1
Name: count, Length: 1533, dtype: int64

## An√°lises espec√≠ficas:

In [23]:
desl_desc = caged_descrito[caged_descrito['saldo_movimentacao'] == 'Desligamento']
desl_desc.head(2)

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
0,Desligamento,"Empregado - Geral, Inclusive O Empregado P√∫bli...",Superior Incompleto,27,9.0,N√£o Informada,Mulher,Desligamento Por Demiss√£o Sem Justa Causa,N√£o Deficiente,1850.0,0
1,Desligamento,"Empregado - Geral, Inclusive O Empregado P√∫bli...",M√©dio Incompleto,22,45.0,Parda,Homem,Desligamento Por Demiss√£o Sem Justa Causa,N√£o Deficiente,1320.0,0

In [24]:
adm_desc = caged_descrito[caged_descrito['saldo_movimentacao'] == 'Admiss√£o']
adm_desc.head(2)

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
6,Admiss√£o,Empregado - Contrato A Termo Firmado Nos Termo...,Superior Completo,41,16.0,Parda,Homem,Admiss√£o n√£o detalhada,N√£o Deficiente,3362.63,0
7,Admiss√£o,"Empregado - Geral, Inclusive O Empregado P√∫bli...",M√©dio Incompleto,18,44.0,N√£o Informada,Homem,Admiss√£o n√£o detalhada,N√£o Deficiente,1320.00,0

#### An√°lise por ra√ßa/cor:

In [25]:
desl_desc['raca_cor'].value_counts()

raca_cor
Parda               2142
N√£o Informada       1254
Branca               654
Preta                172
Amarela               17
N√£o Identificado      14
Ind√≠gena              11
Name: count, dtype: int64

In [26]:
adm_desc['raca_cor'].value_counts()

raca_cor
Parda            2219
N√£o Informada    2056
Branca            641
Preta             194
Amarela            20
Ind√≠gena            4
Name: count, dtype: int64

In [27]:
grau_i_desl = desl_desc.groupby('grau_instrucao')['raca_cor'].value_counts()
grau_i_desl

grau_instrucao           raca_cor
5¬™ Completo Fundamental  Parda                 26
                         N√£o Informada         13
                         Branca                 8
                         Preta                  2
6¬™ A 9¬™ Fundamental      Parda                 96
                         Branca                32
                         N√£o Informada         21
                         Preta                  7
                         N√£o Identificado       1
Analfabeto               N√£o Informada          4
                         Parda                  3
At√© 5¬™ Incompleto        Parda                 59
                         N√£o Informada         24
                         Preta                  7
                         Branca                 6
Doutorado                Branca                 2
Fundamental Completo     Parda                148
                         N√£o Informada         40
                         Branca                34
                         Preta                 14
                         Amarela                1
                         N√£o Identificado       1
Mestrado                 Branca                 4
                         Parda                  2
                         N√£o Informada          1
M√©dio Completo           Parda               1333
                         N√£o Informada        970
                         Branca               414
                         Preta                100
                         Amarela               11
                         N√£o Identificado      11
                         Ind√≠gena               6
M√©dio Incompleto         Parda                181
                         N√£o Informada         49
                         Branca                32
                         Preta                 14
                         Ind√≠gena               4
                         Amarela                2
                         N√£o Identificado       1
P√≥s-Gradua√ß√£o Completa   Parda                 20
                         Branca                 8
                         N√£o Informada          3
                         Preta                  3
                         Amarela                1
Superior Completo        Parda                188
                         N√£o Informada         85
                         Branca                82
                         Preta                 15
                         Amarela                2
Superior Incompleto      Parda                 86
                         N√£o Informada         44
                         Branca                32
                         Preta                 10
                         Ind√≠gena               1
Name: count, dtype: int64

In [28]:
grau_i_adm = adm_desc.groupby('grau_instrucao')['raca_cor'].value_counts()
grau_i_adm

grau_instrucao           raca_cor
5¬™ Completo Fundamental  Parda              29
                         N√£o Informada      13
                         Branca              7
                         Preta               2
6¬™ A 9¬™ Fundamental      Parda             111
                         N√£o Informada      29
                         Branca             16
                         Preta               6
Analfabeto               Parda               3
                         N√£o Informada       3
At√© 5¬™ Incompleto        Parda              95
                         N√£o Informada      40
                         Branca              8
Doutorado                Parda               2
                         Branca              2
                         Preta               1
Fundamental Completo     Parda             102
                         N√£o Informada      64
                         Branca             29
                         Preta               6
                         Amarela             4
Mestrado                 Branca              8
                         Parda               7
                         N√£o Informada       2
                         Preta               1
M√©dio Completo           N√£o Informada    1584
                         Parda            1386
                         Branca            410
                         Preta             139
                         Amarela            13
                         Ind√≠gena            3
M√©dio Incompleto         Parda             167
                         N√£o Informada      80
                         Branca             42
                         Preta              16
                         Amarela             1
P√≥s-Gradua√ß√£o Completa   Parda              23
                         N√£o Informada      23
                         Branca              6
Superior Completo        Parda             210
                         N√£o Informada     180
                         Branca             82
                         Preta              15
                         Amarela             2
Superior Incompleto      Parda              84
                         N√£o Informada      38
                         Branca             31
                         Preta               8
                         Ind√≠gena            1
Name: count, dtype: int64

In [29]:
idade_desl = desl_desc[['idade','raca_cor']]
idade_desl[(idade_desl['idade'] < 40) & (idade_desl['idade'] > 19)].value_counts()

idade  raca_cor
29     Parda               102
27     Parda                97
26     Parda                95
24     Parda                86
25     Parda                81
                          ...
34     N√£o Identificado      1
28     Amarela               1
25     Amarela               1
       Ind√≠gena              1
34     Amarela               1
Name: count, Length: 105, dtype: int64

In [30]:
idade_adm = adm_desc[['idade','raca_cor']]
idade_adm[(idade_adm['idade'] < 40) & (idade_adm['idade'] > 19)].value_counts()

idade  raca_cor
23     N√£o Informada    105
24     Parda            103
26     Parda             95
24     N√£o Informada     94
23     Parda             92
                       ...
35     Ind√≠gena           1
24     Amarela            1
       Ind√≠gena           1
36     Amarela            1
33     Amarela            1
Name: count, Length: 96, dtype: int64

In [36]:
horas_desl = desl_desc[['horas_contratuais', 'raca_cor']]
horas_desl.value_counts().head(2)

horas_contratuais  raca_cor
44.0               Parda            1570
                   N√£o Informada    1015
Name: count, dtype: int64

In [ ]:
pivot_table = horas_desl.pivot_table(index='raca_cor', columns= 'horas_contratuais', aggfunc='size', fill_value=0)
porcentagens = pivot_table.div(pivot_table.sum(axis=1), axis=0) * 100
porcentagens[porcentagens.columns[(porcentagens.columns > 35) & (porcentagens.columns < 45)]]

In [ ]:
limite_minimo = 3

# iterando sobre as racas
for raca_cor in porcentagens.index:
    # cria uma figura e eixos para cada raca (por isso o loop) e com tamanho determinado
    fig, ax = plt.subplots(figsize=(7, 7))
    
    # filtra as porcentagens abaixo do limite minimo
    porcentagens_filtradas = porcentagens.loc[raca_cor][porcentagens.loc[raca_cor] >= limite_minimo]

    # cria um gr√°fico de pizza para a raca_cor atual usando as porcentagens filtradas
    wedges, texts, autotexts = ax.pie(porcentagens_filtradas, labels=porcentagens_filtradas.index, autopct='%1.1f%%', startangle=90)

    # ajusta a posicao dos rotulos e porcentagens
    for text, autotext in zip(texts, autotexts):
        text.set(size=10, weight='bold')
        autotext.set(size=8, weight='bold')

    # adiciona titulo para cada pizza usando a raca_cor atual
    ax.set_title(f'Distribui√ß√£o de Horas Contratuais para {raca_cor}')

    # salva cada pizza com seu devido titulo em arquivo pdf
    #plt.savefig(f'grafico_{raca_cor.lower()}.pdf')

In [70]:
horas_adm = adm_desc[['horas_contratuais', 'raca_cor']]
horas_adm.value_counts().head(2)

horas_contratuais  raca_cor
44.0               N√£o Informada    1650
                   Parda            1494
Name: count, dtype: int64

In [73]:
pivot_hadm = horas_adm.pivot_table(index='raca_cor', columns= 'horas_contratuais', aggfunc='size', fill_value=0)
porc_adm = pivot_hadm.div(pivot_hadm.sum(axis=1), axis=0) * 100
porc_adm[porc_adm.columns[(porc_adm.columns > 35) & (porc_adm.columns < 45)]]

horas_contratuais,36.00,36.67,36.75,37.50,37.71,38.50,39.00,39.75,40.00,40.83,...,42.78,42.86,43.00,43.14,43.71,43.75,43.85,44.00,44.14,44.86
raca_cor,,,,,,,,,,,,,,,,,,,,,
Amarela,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,75.000000,0.000000,0.000000
Branca,6.084243,0.000000,0.000000,0.000000,0.000000,0.468019,0.156006,0.000000,11.232449,0.156006,...,0.000000,0.000000,0.156006,0.156006,0.000000,0.780031,0.156006,51.170047,0.000000,0.156006
Ind√≠gena,0.000000,0.000000,0.000000,0.000000,0.000000,25.000000,0.000000,0.000000,25.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,0.000000,0.000000
N√£o Informada,3.891051,0.097276,0.000000,0.000000,0.000000,1.313230,0.048638,0.000000,2.821012,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.048638,0.000000,0.000000,80.252918,0.048638,0.000000
Parda,2.388463,0.000000,0.045065,0.135196,0.045065,0.946372,0.045065,0.045065,8.877873,0.000000,...,0.090131,0.045065,0.135196,0.000000,0.000000,0.090131,0.000000,67.327625,0.000000,0.180261
Preta,1.030928,0.000000,0.000000,0.000000,0.000000,1.546392,0.000000,0.000000,6.701031,0.515464,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,70.618557,0.000000,0.000000

In [ ]:
#limite_minimo = 3

# iterando sobre as racas
for raca_cor in porc_adm.index:
    # cria uma figura e eixos para cada raca (por isso o loop) e com tamanho determinado
    fig, ax = plt.subplots(figsize=(7, 7))
    
    # filtra as porcentagens abaixo do limite minimo
    porcentagens_filtradas_adm = porc_adm.loc[raca_cor][porc_adm.loc[raca_cor] >= limite_minimo]

    # cria um gr√°fico de pizza para a raca_cor atual usando as porcentagens filtradas
    wedges, texts, autotexts = ax.pie(porcentagens_filtradas_adm, labels=porcentagens_filtradas_adm.index, autopct='%1.1f%%', startangle=90)

    # ajusta a posicao dos rotulos e porcentagens
    for text, autotext in zip(texts, autotexts):
        text.set(size=10, weight='bold')
        autotext.set(size=8, weight='bold')

    # adiciona titulo para cada pizza usando a raca_cor atual
    ax.set_title(f'Distribui√ß√£o de Horas Contratuais para {raca_cor}')

    # salva cada pizza com seu devido titulo em arquivo pdf
    #plt.savefig(f'grafico_adm_{raca_cor.lower()}.pdf')

In [77]:
caged_descrito.head(2)

,saldo_movimentacao,categoria,grau_instrucao,idade,horas_contratuais,raca_cor,sexo,tipo_movimentacao,tipo_deficiencia,salario_mensal,indicador_aprendiz
0,Desligamento,"Empregado - Geral, Inclusive O Empregado P√∫bli...",Superior Incompleto,27,9.0,N√£o Informada,Mulher,Desligamento Por Demiss√£o Sem Justa Causa,N√£o Deficiente,1850.0,0
1,Desligamento,"Empregado - Geral, Inclusive O Empregado P√∫bli...",M√©dio Incompleto,22,45.0,Parda,Homem,Desligamento Por Demiss√£o Sem Justa Causa,N√£o Deficiente,1320.0,0

#### Sexo